@font-face{font-family: SegeoWPLight;
  src:url(fonts/SegeoWPLight.ttf);}
body {
    width: 1280px;
    margin: 0;
    padding: 0;
    margin: auto;
}
.top-top-menu {
  background-color:rgb(66,66,66);
  height: 28px;
  text-align: right;
}
.top-top-menu a {
  text-decoration: none;
  color: rgb(246,246,246);
  font-family: SegeoWPLight;
  margin-right: 25px;
  line-height: 30px;
}
.text-top-top {
  margin-right: 125px;
}
.top-menu {
    background: linear-gradient(to bottom, rgb(254,254,254), rgb(235,235,235));
    height: 112px;
}
.logo {
  margin: 18px 0 0 140px;
}
.vvod {
  border-color: #79b260;
  border-style: none;
}